{% extends "default.twig" %}

{% block head %}
  {% block prepended %}
    {% include "includes/highlight.twig" %}
  {% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="{{ summary }}">
	<meta name="twitter:title" content="{{ title|capitalize }}">
	<meta name="twitter:url" content="{{ permalink }}">
	<meta name="twitter:site" content="{{ sitename }}">
  
{% endblock %}

{% block content %}
	<article itemscope itemtype="https://schema.org/BlogPosting" class="article article--full">
    <header class="article__header">
      <h1 class="article__title" itemprop="headline">
        <a class="article__permalink" href="/{{ path }}" itemprop="url" rel="bookmark">{{ title }}</a>
      </h1>

      {% if subtitle %}
        <h2 class="article__subtitle" itemprop="alternativeHeadline">{{ subtitle }}</h2>
      {% endif %}

			<div class="article__meta">
				<span itemprop="author" itemscope itemtype="https://schema.org/Person">
					<meta itemprop="name" content="{{ author }}">
				</span>
				<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
					<meta itemprop="name" content="{{ sitename }}">
					<meta itemprop="logo" content="{{ siteurl }}/assets/img/logo.png">
				</span>
				<meta itemprop="image" content="{{ siteurl }}/assets/img/logo.png">
				<meta itemprop="mainEntityOfPage" content="{{ siteurl }}/{{ path }}">
				<meta itemprop="dateModified" content="{% if lastmod %}{{ lastmod }}{% else %}{{ date | date('Y-m-d') }}{%endif %}">
				<meta itemprop="wordCount" content="{{ wordCount }}">
				In <a class="article__topic" href="/{{ category }}">{{ category }}</a>
				<small class="article__reading-time"><em><span itemprop="timeRequired">{{ readingTime }}</span> read</em></small>
				<time class="article__date" datetime="{{ date | date('Y-m-d') }}" itemprop="datePublished">
					{% if lastmod %}{{ lastmod }}{% else %}{{ date | date('j M, Y') }}{%endif %}
				</time>
			</div>
    </header>

		<div class="article__body" itemprop="articleBody">
			{% if summary %}
			  <p class="article__lead" itemprop="description">{{ summary }}</p>
			{% endif %}

      {{ contents }}
    </div>

    <footer class="article__footer">
      {% if tags %}
			<span class="article__tags">
				<span itemprop="keywords">
          {% for tag in tags %}
            <a href="/tags/{{ tag }}">{{ tag }}</a>{% if tags|length > loop.index + 1 %}, {% endif %}
          {% endfor %}
				</span>
			</span>
      {% endif %}

			<div class="article__share">
				<a class="share share--twitter" href="https://twitter.com/intent/tweet?original_referer={{ siteurl }}/{{ path | url_encode }}&ref_src=twsrc%5Etfw&text={{ title | url_encode }}&url={{ siteurl }}/{{ path | url_encode }}&via=webketje" target="_blank" title="Share on Twitter">
					<i class="fa fa-fw fa-twitter"></i>Share on Twitter
				</a>
				<a class="share share--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ siteurl }}/{{ path | url_encode }}&title={{ title | url_encode }}&summary={{ summary | url_encode }}&source={{ sitename }}" target="_blank" title="Share on Linkedin">
					<i class="fa fa-fw fa-linkedin"></i>Share on Linkedin
				</a>
			</div>
			<div class="article__comments" itemtype="https://schema.org/UserComments" itemscope>
				<h3>Comments</h3>
			</div>
    </footer>
  </article>
{% endblock %}

{% block footer %}
	<script type="text/javascript">
		// code select event
		function selectText(element) {
			var doc = document;
			var text = element;

			if (doc.body.createTextRange) { // ms
				var range = doc.body.createTextRange();
				range.moveToElementText(text);
				range.select();
			} else if (window.getSelection) { // moz, opera, webkit
				var selection = window.getSelection();
				var range = doc.createRange();
				range.selectNodeContents(text);
				selection.removeAllRanges();
				selection.addRange(range);
			}
		}
		// code select generator
		var codeBlocks = document.getElementsByClassName('hljs');
		for (var i = 0; i < codeBlocks.length; i++) {
			var el = document.createElement('button');
			el.type = 'button';
			el.className = 'copy-code';
			el.title = 'Select code';
			el.appendChild(document.createTextNode('</>'));
			codeBlocks[i].appendChild(el);
		}
		// code selector
		document.getElementsByTagName('article')[0].addEventListener('click', function (e) {
			var target = e.target || e.srcElement;
			if (target.className === 'copy-code') {
				selectText(target.parentNode.getElementsByTagName('code')[0]);
			}
		}, false);

		anchors.options = {
			placement: 'left',
			visible: 'always',
			icon: '#'
		};
    anchors.add('.article__body h2, .article__body h3');
	</script>
{% endblock %}