{# expects the following properties:
 # type, meta, title, link, image, desc, footer #}

<li class="list-item list-item--{{ type }}">
  {% if meta %}
	<div class="list-item__meta meta">
    {% for item in meta %}
      <div class="meta__item">{{ item }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="list-item__body">
    {% if title %}
    <h3 class="list-item__title">
      {% if link %}
        <a class="list-item__permalink" href="{{ link }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    {% endif %}

    {% if desc %}
    <p class="list-item__desc">
      {% if image %}
    	  <a class="list-item__image" href="{{image}}" target="_blank" title="View in full resolution"><img src="{{ image }}"></a>
      {% endif %}
      {{ desc }}
    </p>
    {% endif %}

    {% if footer and footer|length > 0 %}
    <footer class="list-item__footer footer">
      {% for item in footer %}
        <div class="footer__item">{{ item }}</div>
      {% endfor %}
    </footer>
    {% endif %}
  </div>
</li>